.table {
  margin-top: 20px;

  overflow: hidden;
  max-width: 100vw;
}
.table table {
  width: auto;
}
.form {
  display: flex;
  gap: 10px 10px;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  &-item {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    & > label {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    input,
    select {
      width: 100%;

      border: 1px solid #eee;
      padding: 5px 20px;
      border-radius: 5px;
    }
  }
}
.gender {
  display: flex;
  align-items: center;
  &-item {
    display: flex;
    align-items: center;
    width: 70px;
  }
}
.form-photo-upload {
  display: flex;

  align-items: center;
  font-size: 14px;
}
.form-user-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
}
.form-upload {
  width: 0.1px !important;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form--upload:focus + label {
  outline: 3px solid var(--color-dark-blue);
  outline-offset: 3px;
}

.form-upload + label {
  color: var(--color-dark-blue);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-dark-blue);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 600;
}
